<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentOneByConstructor" class="com.caimj.java.week05.bean.Student">
        <constructor-arg name="id" value="111"/>
        <constructor-arg name="name" value="caimj"/>
        <constructor-arg name="sex" value="female"/>
        <constructor-arg name="klassId" value="1"/>
    </bean>

    <bean id="studentTwoBySetter" class="com.caimj.java.week05.bean.Student">
        <property name="id" value="222"/>
        <property name="name" value="xupk"/>
        <property name="sex" value="male"/>
        <property name="klassId" value="2"/>
    </bean>

</beans>
